@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Film P3";
  src: local("Film P3 Bold"), local("Film-P3-Bold"), url("../fonts/filmp3/FilmP3Bold.woff2") format("woff2"), url("../fonts/filmp3/FilmP3Bold.woff") format("woff"), url("../fonts/filmp3/FilmP3Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: local("TimesNewRoman"), url("../fonts/times/TimesNewRoman-Regular.ttf") format("truetype"), url("../fonts/times/TimesNewRoman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/times/TimesNewRoman-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  background-color: #FFFDEE;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
}

.kitchen {
  background-color: #FFFDEE;
  padding: 16px 0 28px 0;
}

.title--hidden {
  display: none;
}

.kitchen__subtitle {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #B4B4B4;
  margin-bottom: 12px;
}

.logo {
  font-family: "Film P3";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #494848;
}

.kitchen__chiefs {
  margin-top: 12px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.kitchen__chiefs-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #5F5F5F;
  margin-bottom: 28px;
}

.kitchen__chiefs-img {
  min-width: 244px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.kitchen__ingridients {
  margin-bottom: 32px;
  gap: 20px;
  display: flex;
}

.kitchen__ingridients-img {
  min-width: 200px;
  background: #DADADA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.kitchen__ingridients-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #C79002;
}

.carousel {
  position: relative;
  padding-top: 75%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  perspective: 100px;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 69px;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 24px;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  scroll-snap-align: center;
}

.slider-item {
  position: relative;
  flex: 0 0 100%;
  max-width: 245px;
  counter-increment: item;
}

.prev-btn {
  margin-left: 230px;
  margin-right: 24px;
}/*# sourceMappingURL=main.css.map */