a {
    text-decoration: none;
}

body {
    
}

button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: transparent;
}

.kitchen {
    
    background-color: #FFFDEE;
    // padding-top: 16px;
    // padding-bottom: 28px;
    padding: 16px 0 28px 0;
}

.title--hidden {
    display: none;
}

.kitchen__subtitle {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    margin-bottom: 12px;
}

.logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #494848;
}

.kitchen__chiefs {
    margin-top: 12px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.kitchen__chiefs-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #5F5F5F;
    margin-bottom: 28px;
}

.kitchen__chiefs-img {
    min-width: 244px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.kitchen__ingridients {
    margin-bottom: 32px;
    gap: 20px;
    display: flex;
}

.kitchen__ingridients-img {
    min-width: 200px;
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.kitchen__ingridients-description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $secondary-text;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 69px;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    gap: 24px;
    
    
    // display: flex;
    // overflow-x: scroll;
    // counter-reset: item;
    // scroll-behavior: smooth;
    // scroll-snap-type: x mandatory;
}

.slider-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // max-height: 245px;
    scroll-snap-align: center;
}

.slider-item {
    position: relative;
    flex: 0 0 100%;
    max-width: 245px;
    counter-increment: item;
}

.prev-btn {
    margin-left: 230px;
    margin-right: 24px;
}