@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Film P3";
  src: local("Film P3 Bold"), local("Film-P3-Bold"), url("../fonts/filmp3/FilmP3Bold.woff2") format("woff2"), url("../fonts/filmp3/FilmP3Bold.woff") format("woff"), url("../fonts/filmp3/FilmP3Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: local("TimesNewRoman"), url("../fonts/times/TimesNewRoman-Regular.ttf") format("truetype"), url("../fonts/times/TimesNewRoman-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/times/TimesNewRoman-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  letter-spacing: 0.02em;
  color: #7A7A7A;
  background-color: #FFFDEE;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 414px) {
  .container {
    width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: black;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__container {
    gap: 87px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    justify-content: left;
  }
}

.header__logo {
  text-decoration: none;
  display: block;
  font-family: "Film P3", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: #ffffff;
}
@media screen and (max-width: 1023px) {
  .header__logo {
    max-width: 114px;
    padding-top: 16px;
    padding-bottom: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .header__logo {
    max-width: 127px;
    font-size: 40px;
    line-height: 1.08;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-right: 96px;
  }
}

.navigation__list {
  display: flex;
}
@media screen and (max-width: 1023px) {
  .navigation__list {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__list {
    gap: 72px;
  }
}
@media screen and (min-width: 1280px) {
  .navigation__list {
    margin-right: 59px;
  }
}

.navigation__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1023px) {
  .navigation__item:not(:last-child) {
    margin-right: 6px;
  }
}

.navigation__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #F3C653;
}
@media screen and (max-width: 1023px) {
  .navigation__link {
    padding-top: 28px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__link {
    margin-right: 32px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__link {
    padding: 30px 0;
  }
}

.navigation__contacts {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .navigation__contacts {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

.navigation__icon {
  fill: #F3C653;
}
@media screen and (min-width: 1024px) {
  .navigation__icon {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1023px) {
  .navigation__phone {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .navigation__phone {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #ffffff;
  }
}

.navigation__phone--long {
  margin-right: 16px;
}

.header__networks {
  display: none;
}
@media screen and (min-width: 1280px) {
  .header__networks {
    display: block;
  }
}

.networks {
  display: flex;
  gap: 20px;
  width: 112px;
  height: 24px;
}

.networks__icon {
  fill: rgba(243, 198, 83, 0.7);
}/*# sourceMappingURL=main.css.map */