@mixin text($weight: 700, $size: 16px, $lheight: 1.25, $transform: none, $textdecor: none, $style: normal) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $lheight;
    text-transform: $transform;
    text-decoration: $textdecor;
}
