<section class="restaurant-section">
  <span class="line-d line-d--1"></span>
  <span class="line-d line-d--2"></span>
  <span class="line-d line-d--3"></span>
  <div class="container">
    <div class="restaurant-section__container">
      <div class="restaurant-section__content">
        <h2
          class="restaurant-section__title restaurant-section__title--visiually-hidden"
        >
          Про наш ресторан
        </h2>
        <p class="restaurant-section__sub-title">Amet minim mollit non</p>
        <p class="restaurant-section__logo">MIMIHO</p>
        <p class="restaurant-section__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <ul class="restaurant-section__list">
        <li class="restaurant-section__item-1">
          <div class="restaurant-section__item-1-wrap">
            <picture>
              <source
                srcset="
                  ./images/about-our-restaurant/desktop/restaurant-interior1.jpg    460w,
                  ./images/about-our-restaurant/desktop/restaurant-interior1@2x.jpg 920w
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
                sizes="460px"
              />
              <source
                srcset="
                  ./images/about-our-restaurant/tablet/restaurant-interior1.jpg    400w,
                  ./images/about-our-restaurant/tablet/restaurant-interior1@2x.jpg 800w
                "
                type="image/jpeg"
                media="(min-width: 1024px)"
                sizes="400px"
              />
              <source
                srcset="
                  ./images/about-our-restaurant/mobile/restaurant-interior1.jpg    244w,
                  ./images/about-our-restaurant/mobile/restaurant-interior1@2x.jpg 488w
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
                sizes="244px"
              />
              <img
                src="./images/about-our-restaurant/mobile/restaurant-interior1.jpg"
                alt="фото"
              />
            </picture>
          </div>
        </li>
        <li class="restaurant-section__item-2">
          <div class="restaurant-section__item-2-wrap">
            <picture>
              <source
                srcset="
                  ./images/about-our-restaurant/desktop/restaurant-interior2.jpg    460w,
                  ./images/about-our-restaurant/desktop/restaurant-interior2@2x.jpg 920w
                "
                type="image/jpeg"
                media="(min-width: 1280px)"
                sizes="460px"
              />
              <source
                srcset="
                  ./images/about-our-restaurant/tablet/restaurant-interior2.jpg    350w,
                  ./images/about-our-restaurant/tablet/restaurant-interior2@2x.jpg 700w
                "
                type="image/jpeg"
                media="(min-width: 1024px)"
                sizes="350px"
              />
              <source
                srcset="
                  ./images/about-our-restaurant/mobile/restaurant-interior2.jpg    200w,
                  ./images/about-our-restaurant/mobile/restaurant-interior2@2x.jpg 400w
                "
                type="image/jpeg"
                media="(max-width: 1023px)"
                sizes="200px"
              />
              <img
                class="item-2__image"
                src="./images/about-our-restaurant/mobile/restaurant-interior2.jpg"
                alt="фото"
              />
            </picture>
          </div>

          <p class="restaurant-section__description">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </li>
      </ul>
      <div class="restaurant-section__image-slider image-slider">
        <div class="image-slider__container">
          <ul class="image-slider__list">
            <li class="image-slider__item">
              <picture>
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/desktop/slide1.jpg    254w,
                    ./images/about-our-restaurant/slides/desktop/slide1@2x.jpg 508w
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                  sizes="254px" />
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/tablet/slide1.jpg    194w,
                    ./images/about-our-restaurant/slides/tablet/slide1@2x.jpg 388w
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px)"
                  sizes="194px" />
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/mobile/slide1.jpg    245w,
                    ./images/about-our-restaurant/slides/mobile/slide1@2x.jpg 490w
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                  sizes="245px" />
                <img
                  class="image-slider__image"
                  src="./images/about-our-restaurant/slides/mobile/slide1.jpg"
                  alt=""
              /></picture>
            </li>
            <li class="image-slider__item">
              <picture>
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/desktop/slide2.jpg    254w,
                    ./images/about-our-restaurant/slides/desktop/slide2@2x.jpg 508w
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                  sizes="254px" />
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/tablet/slide2.jpg    194w,
                    ./images/about-our-restaurant/slides/tablet/slide2@2x.jpg 388w
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px)"
                  sizes="194px" />
                <source
                  srcset="
                    ./images/about-our-restaurant/slides/mobile/test2.jpg     245w,
                    ./images/about-our-restaurant/slides/mobile/slide2@2x.jpg 490w
                  "
                  type="image/jpeg"
                  media="(max-width: 1023px)"
                  sizes="245px" />
                <img
                  class="image-slider__image"
                  src="./images/about-our-restaurant/slides/mobile/test2.jpg"
                  alt=""
              /></picture>
            </li>
          </ul>
        </div>
        <div class="image-slider__wrapper">
          <button class="image-slider__button" type="button">
            <svg width="32" height="32">
              <use href="./images/icon.svg#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="image-slider__button" type="button">
            <svg width="32" height="32">
              <use href="./images/icon.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
