<section class="hotel-details section">
  <div class="hotel-details__container">
    <p lang="en" class="hotel-details__title">Mimino</p>
    <h2 class="hotel-details__subtitle">Готель</h2>
    <p class="hotel-details__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>

  <button class="mimino-buttons mimino-buttons--bggrey" type="button">
    Забронювати номер
  </button>
  <button class="mimino-buttons mimino-buttons--bggrey" type="button">
    Переглянути ціни
  </button>
</section>
