<section class="hotel-details section">
  <div class="hotel-details__container">
    <p lang="en" class="hotel-details__title">Mimino</p>
    <h2 class="hotel-details__subtitle">Готель</h2>
    <p class="hotel-details__description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>

  <picture>
    <source
      srcset="
        /src/images/details-of-our-hotel-sliders/image0-tablet@1x.jpg 1x,
        /src/images/details-of-our-hotel-sliders/image0-tablet@2x.jpg 2x
      "
      media="(min-width: 1024px)"
    />
    <source
      srcset="
        /src/images/details-of-our-hotel-sliders/image0-desktop@1x.jpg 1x,
        /src/images/details-of-our-hotel-sliders/image0-desktop@2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />
    <img
      src="/src/images/details-of-our-hotel-sliders/image0-desktop@1x.jpg"
      alt="picture"
    />
  </picture>
  <picture>
    <source
      srcset="
        /src/images/details-of-our-hotel-sliders/image1-mob@1x.jpg 1x,
        /src/images/details-of-our-hotel-sliders/image1-mob@2x.jpg 2x
      "
      media="(max-width: 1024px)"
    />
    <source
      srcset="
        /src/images/details-of-our-hotel-sliders/image1-tablet@1x.jpg 1x,
        /src/images/details-of-our-hotel-sliders/image1-tablet@2x.jpg 2x
      "
      media="(min-width: 1024px)"
    />
    <source
      srcset="
        /src/images/details-of-our-hotel-sliders/image1-desktop@1x.jpg 1x,
        /src/images/details-of-our-hotel-sliders/image1-desktop@2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />
    <img
      src="/src/images/details-of-our-hotel-sliders/image1-mob@1x.jpg"
      alt="picture"
    />
  </picture>

  <button
    class="mimino-buttons mimino-buttons--bggrey hotel-details__buttons"
    type="button"
  >
    Забронювати номер
  </button>
  <button
    class="mimino-buttons mimino-buttons--bggrey hotel-details__buttons"
    type="button"
  >
    Переглянути ціни
  </button>
</section>
