<section>
  <div class="container">
    <div>
      <!-- Absolut img -->

      <div>
        <picture>
          <source
            srcset="
              ./images/hotel/room-2/desk-room-for-2.jpg    1x,
              ./images/hotel/room-2/desk-room-for-2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/tabl-room-for-2.jpg    1x,
              ./images/hotel/room-2/tabl-room-for-2@2x.jpg 2x
            "
            media="(min-width: 1024px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/mob-room-for-2.jpg    1x,
              ./images/hotel/room-2/mob-room-for-2@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hotel/room-2/mob-room-for-2.jpg"
            alt="Двомісний номер готелю"
          />
        </picture>
      </div>

      <!-- Description -->

      <div>
        <p>Amet minim mollit non</p>
        <p>MIMIHO</p>
        <h2>ТРЬОХМІСНИЙ НОМЕР</h2>
        <p>
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <!-- Slider -->

      <div>
        <picture>
          <source
            srcset="
              ./images/hotel/room-2/desk-room-for-2-slide1.jpg    1x,
              ./images/hotel/room-2/desk-room-for-2-slide1@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/mob-tabl-room-for-2-slide1.jpg    1x,
              ./images/hotel/room-2/mob-tabl-room-for-2-slide1@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hotel/room-2/mob-tabl-room-for-2-slide1.jpg"
            alt="Стильна раковина"
          />
        </picture>
        <picture>
          <source
            srcset="
              ./images/hotel/room-2/desk-room-for-2-slide2.jpg    1x,
              ./images/hotel/room-2/desk-room-for-2-slide2@2x.jpg 2x
            "
            media="(min-width: 1280px)"
            type="image/jpeg"
          />
          <source
            srcset="
              ./images/hotel/room-2/mob-tabl-room-for-2-slide2.jpg    1x,
              ./images/hotel/room-2/mob-tabl-room-for-2-slide2@2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/hotel/room-2/mob-tabl-room-for-2-slide2.jpg"
            alt="Вікнно з пейзажом та чашка кофе"
          />
        </picture>
        <button type="button">
          <svg width="32" height="32">
            <use href="./images/icon.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button">
          <svg width="32" height="32">
            <use href="./images/icon.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>

      <!-- Buttons -->

      <div>
        <a href="./room.html">Детальніше</a>
        <button type="button">Переглянути ціни</button>
      </div>
    </div>
  </div>
</section>
