// -------------About uor hotel-----------------

.image {
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.about-hotel {
  position: relative;

  padding-top: 18px;
  padding-bottom: 20px;
  background-color: $primary-bg;

  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 50px;
  }

  &__conteiner {
    position: relative;
    z-index: 1;
  }

  &__title--visually-hidden {
    @extend %visually-hidden;
  }

  &__content {
    @media screen and (max-width: 1023px) {
      margin-bottom: 32px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 1023px) {
      margin-bottom: 32px;
    }
    
  }

  &__item:first-child {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: row-reverse;
      gap: 46px;
    }

    @media screen and (min-width: $desktop) {
      gap: 67px;
    }
  }

  &__item:last-child {
    display: flex;
    align-items: center;
    gap: 21px;

    @media screen and (min-width: $tablet) {
      gap: 48px;
    }

    @media screen and (min-width: $desktop) {
      align-items: start;
      gap: 45px;
    }
  }

  &__badroom-image {
    @media screen and (min-width: $tablet) {
      margin-top: -24px;
    }
  }

  &__wrap {
    @media screen and (max-width: 1023px) {
      margin-bottom: 28px;
    }

    @media screen and (min-width: $tablet) {
      padding-top: 120px;
    }
  }

  &__sub-title {
    margin-left: auto;
    margin-bottom: 6px;
    width: 197px;

    font-family: 'TimesNewRoman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
  
    color: #B4B4B4;

    @media screen and (min-width: $tablet) {
      margin-bottom: 4px;
      width: 310px;

      font-size: 32px;
      line-height: 1.16;
    }
  }

  &__logo {
    margin-left: auto;
    margin-bottom: 16px;
    
    width: 127px;

    font-family: 'Film P3', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
  
    color: #494848;

    @media screen and (min-width: $tablet) {
      margin-bottom: 24px;
      width: 205px;

      font-size: 64px;
    }
  }

  &__description {
    margin-left: auto;
    width: 245px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
  
    color: #5F5F5F;
   
    @media screen and (min-width: $tablet) {
      font-size: 16px;
      width: 419px;
    }

    @media screen and (min-width: $desktop) {
      width: 488px;
    }
  }

  &__description--gold {
    
    width: 163px;

    color: $secondary-text;

    @media screen and (min-width: $tablet) {
      width: 312px;
      font-size: 16px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 123px;
    }
  }

  &__lobby-image {
    @media screen and (min-width: $tablet) {
      margin-top: -24px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: -46px;
    }
  }
}

    // ----------------Swiper-------------
.swiper {
  overflow: hidden;

  @media screen and (max-width: 1023px) {
    max-width: 330px;
    margin-right: auto;
    margin-left: -15px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: -28px;
  
    width: 428px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -167px;
 
    width: 530px;
  }

  &__photos {
    margin-bottom: 20px;

    display: flex;
    width: 100%;

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 40px;
    }
  }

  &__item {
    display: flex;
    flex-shrink: 0;
  }

  &__img {
    background: #dadada;

    border-radius: 2px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    padding: 0;
    gap: 32px;

    @media screen and (max-width: 1023px) {
      margin-left: 15px;
    }
  }

  &__swiper__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

