.restaurant-section {
    background-color: $primary-bg;
    padding-top: 16px;
    padding-bottom: 20px;

    @media screen and (min-width: 1024px) {
        padding-top: 120px;
        padding-bottom: 262px;
    }

    @media screen and (min-width: 1280px) {
        padding-bottom: 225px;
    }
}

// контейнер для декоративних ліній

.restaurant-section__container {
    position: relative;
}

// Декоративні лінії

// .restaurant-section__container::before {
//     position: absolute;
//     content: '';
//     top: -16px;
//     right: 33.3%;
//     width: 1px;
//     height: 1191px;
//     background-color: rgba(186, 186, 186, 0.4);
//     filter: blur(0.5px);

//     @media screen and (min-width: 1024px) {
//         top: -120px;
//         right: 25%;
//         height: 1238px;
//     }

//     @media screen and (min-width: 1280px) {
//         height: 1275px;
//     }
// }

// .restaurant-section__container::after {
//     position: absolute;
//     content: '';
//     top: -16px;
//     left: 33.3%;
//     width: 1px;
//     height: 1191px;
//     background-color: rgba(186, 186, 186, 0.4);
//     filter: blur(0.5px);

//     @media screen and (min-width: 1024px) {
//         top: -120px;
//         left: 25%;
//         height: 1238px;
//     }

//     @media screen and (min-width: 1280px) {
//         height: 1275px;
//     }
// }

// .restaurant-section__item-1::before {
//     @media screen and (min-width: 1024px) {
//         position: absolute;
//         content: '';
//         top: -120px;
//         left: 50%;
//         width: 1px;
//         height: 1238px;
//         background-color: rgba(186, 186, 186, 0.4);
//         filter: blur(0.5px);
//     }

//     @media screen and (min-width: 1280px) {
//         height: 1275px;
//     }
// }

// заголовок секції
.restaurant-section__title--visiually-hidden {
    @extend %visually-hidden;
}

.restaurant-section__content {
    margin-bottom: 28px;

    @media screen and (min-width: 1024px) {
        margin-bottom: 142px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 162px;
    }
}

.restaurant-section__sub-title {
    margin-bottom: 12px;

    font-family: 'TimesNewRoman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: #B4B4B4;

    @media screen and (min-width: 1024px) {
        margin-bottom: 4px;

        font-size: 32px;
        line-height: 1.16;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 0;
    }
}

.restaurant-section__logo {
    margin-bottom: 12px;

    font-family: 'Film P3', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;

    color: #494848;

    @media screen and (min-width: 1024px) {
        margin-bottom: 24px;

        font-size: 64px;
    }
    @media screen and (min-width: $desktop) {
        color: $secondary-text-logo;
    }
        
}

.restaurant-section__text {
    max-width: 258px;

    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;

    color: #5F5F5F;

    @media screen and (min-width: 1024px) {
        font-size: 16px;
        max-width: 439px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 518px;
    }
}


.restaurant-section__item-1,
.restaurant-section__item-2 {
    @media screen and (max-width: 1023px) {
        margin-bottom: 32px;
    }
}

.restaurant-section__item-1-wrap,
.restaurant-section__item-2-wrap {
    background: #DADADA;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    overflow: hidden;
}



.restaurant-section__item-1 {
    @media screen and (max-width: 1023px) {
        display: flex;
        justify-content: end;
    }


}

.restaurant-section__item-1-wrap {
    max-width: 244px;
    z-index: 1;

    @media screen and (min-width: 1024px) {
        max-width: 400px;
        position: absolute;
        top: -152px;
        right: 65px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 460px;
        right: 95px;
    }
}

.restaurant-section__item-2 {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 1024px) {
        gap: 48px;
    }
}

.restaurant-section__item-2-wrap {
    max-width: 200px;

    @media screen and (min-width: 1024px) {
        z-index: 1;
        max-width: 350px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 460px;
    }
}

.restaurant-section__description {
    width: 163px;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;

    color: $secondary-text;

    @media screen and (min-width: 1024px) {
        width: 312px;
        font-size: 16px;
    }
}


// слайдер

.image-slider {
    height: 297px;

    @media screen and (min-width: 1024px) {
        position: absolute;
        right: 13px;
        bottom: -230px;
        height: 258px;
    }

    @media screen and (min-width: 1280px) {
        right: 0;
        bottom: -175px;
        height: 322px;

    }

}

.image-slider__container {
    margin-bottom: 20px;

    @media screen and (max-width: 1023px) {
        position: relative;
        height: 245px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 36px;
    }
}

.image-slider__list {
    display: flex;
    justify-content: flex-end;
    gap: 25px;

    @media screen and (max-width: 1023px) {
        position: absolute;
        right: -15px;
        top: 0;
    }

    @media screen and (min-width: 1024px) {
        gap: 40px;
    }
}

.image-slider__item {

    background: #DADADA;

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    overflow: hidden;
    z-index: 1;

    @media screen and (max-width: 1023px) {
        max-width: 245px;
    }

    @media screen and (min-width: 1024px) {
        max-width: 194px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 254px;
    }
}

// кнопки слайдера
.image-slider__wrapper {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

.image-slider__button {
    padding: 0;
    border: none;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}